<h1> <%= @post.title %>  </h1>

<h5>A post made by <%= @post.user.first_name %>  <%= @post.user.last_name %></h5>

<p> <%= @post.content %> </p>



<div class="buttons">
  <% if policy(@post).edit? %>
    <%= link_to "Modify", edit_post_path, class: "btn btn-success"  %>
  <% end %>

  <% if policy(@post).destroy? %>
    <%= link_to "Delete", post_path(@post), method: :delete, class: "btn btn-danger"  %>
  <% end %>



</div>






<%= link_to "< Back", posts_path, class: "btn btn-secondary"  %>
